<table>
<tr><th>Nœuds</th><td class="num">{{model.counts.nodes}}</td><th>Appuis</th><td class="num">{{model.counts.supports}}</td></tr>
<tr><th>Poutres</th><td class="num">{{model.counts.beams}}</td><th>Poteaux</th><td class="num">{{model.counts.columns}}</td></tr>
<tr><th>Barres de treillis</th><td class="num">{{model.counts.trusses}}</td><th>Câbles</th><td class="num">{{model.counts.cables}}</td></tr>
<tr><th>Dalles</th><td class="num">{{model.counts.slabs}}</td><th>Voiles</th><td class="num">{{model.counts.walls}}</td></tr>
<tr><th>Fondations</th><td class="num">{{model.counts.foundations}}</td><th>Cas / combinaisons</th><td class="num">{{model.counts.loadCases}} / {{model.counts.combinations}}</td></tr>
</table>
